[
    {exometer, [
        {predefined, [
            {[erlang, memory], {function, erlang, memory, [], value, []}, []},
            {[erlang, system_info], {function, erlang, system_info, ['$dp'], value, [process_count]}, []},
            {[erlang, statistics], {function, erlang, statistics, ['$dp'], value, [run_queue]}, []},
            {[erlang, io], {function, erlang, statistics, [io], match, {{'_', input}, {'_', output}}}, []}
        ]}
    ]},

    {emqtt, [
        {auth, {zotonic, []}},
        {access_control, {zotonic, []}},
        {listeners, []}
    ]},

    {lager, [
        {handlers, [
            {lager_console_backend, info},
            {lager_logstash_backend, [
                {level, info},
                {output, {udp, "logstash", 5514}},
                {format, json},
                {json_encoder, jsx}
            ]}
        ]},
        {crash_log, "priv/log/crash.log"}
    ]},

    {webzmachine, [
        {wmtrace_dir, "priv/log/wmtrace/"},
        {use_sendfile, disable}
    ]},

    {setup, [
        {data_dir, "priv/data"},
        {log_dir, "priv/log"}
    ]}
].
